body {
            
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    background-image: url("./bg2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
     
}



p {
font-size: 21px;
display: flex;
}


.col {
    display: flex;
    justify-content: center;
}

nav {
    background: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
    padding: 0 100px;
    letter-spacing: 3px;
}

nav .logo {
color: #fff;
font-size: 30px;
font-weight: 600;
letter-spacing: 2px;
}

nav .nav-items {
    display: flex;
    flex:1;
    list-style: none;
    padding: 0 0 0 90px;
    
}

nav .nav-items li {
    padding: 0 15px;
    
}

nav .nav-items li a {
    color: rgb(227, 143, 7);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    border-radius:20px;
    padding: 0;
    
}

nav .nav-items li a:hover{
    color: #ffffff;
    border-radius:20px;
    padding: 0;
}

nav form{
   display: flex;
   height: 40px;
   background: #1465e6;
   min-width: 18%!important;
   border: 1px solid rgba(20, 204, 91, 0.2);

}
nav form .search-data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 17px;
}
.logo-img {
height: 50px;
position: absolute;
margin-left:245px;
margin-top: 12px;

}
.billy{

   display: inline-block;
   font-size: 50px;
   color: #e66119;
   justify-content: space-between;
   padding: 5px;
   margin-bottom: 0;
   letter-spacing: 2px;
   

}


.log{
    margin-bottom: px;
}
.nav-items a{
    border-radius:20px;
    padding: 6px 15px;
}
.nav-items a:hover, .active{ background: rgb(227, 143, 7);
    color: #200016;
    color: #200016;

}

footer {
    background-image: url(../R.png);
    height: 500px;
    line-height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    justify-content: space-between;
    
  }
  .footer-container {
    display: flex;
    width: 100%;
    margin: 20px auto;
    color: rgb(11, 6, 6);
    justify-content: space-between;
    
  }
  .footer-item {
    width: 30%;
    padding: 20px;
    padding-top: 100px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .padding-bottom {
    padding-bottom: 50px;
  }
  .padding-right {
    padding-right: 5px;
  }
  .copy {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-right: 100px;
  }
  .pad-r {
    padding-right: 20px;
    padding-top: 25px;
  }
  .gps {
    padding-right: 10px;
    padding-bottom: 50px;
  }
  .tel {
    padding-right: 10px;
  }
  .fot-input {
    background: transparent;
    padding-right: 10px;
    width: 200px;
    outline: none;
  }
  .fot-button {
    background: transparent;
    height: 35px;
    width: 55px;
    margin-bottom: 4px;
    margin-left: 10px;
    background: rgb(231, 122, 5);
    opacity: 0.6;
    cursor: pointer;
  }
  .fot-button img {
    z-index: 3;
    height: 30px;
  }
  
  .p-footer {
    font-size: 18px;
    width: 90%;
    color: rgba(11, 13, 13, 0.81);
    text-transform: capitalize;
    margin-top: 50px;
  }
  .font-s {
    font-size: 20px;
  }
  .big{
    height: 110px;
    position: absolute;
    margin-left:200px;
    margin-top: -80px;
  }
  .size {
    font-size:  200px; ;
  }