body {
            
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    background-image: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     
}



 

p {
font-size: 21px;
}